.jumbotron{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6rgINlPP5M-Y2RN9zdapznco8G8_f-OmKYrPZM4cc0JgI5EQS");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

